@use './breakpoints' as media;

// Colors
$clr-dark: hsla(230, 35%, 7%);
$clr-light: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);

//Fonts
$ff-serif: 'Bellefair', serif;
$ff-sans-condensed: 'Barlow Condensed', sans-serif;
$ff-sans-normal: 'Barlow ', sans-serif;

/* font-sizes */

:root {
  --fs-900: calc(144rem / 16);
  --fs-800: calc(100rem / 16);
  --fs-700: calc(56rem / 16);
  --fs-600: calc(32rem / 16);
  --fs-500: calc(28rem / 16);
  --fs-400: calc(18rem / 16);
  --fs-300: calc(16rem / 16);
  --fs-200: calc(14rem / 16);

  @include media.large-under {
    --fs-800: calc(80rem / 16);
    --fs-700: calc(40rem / 16);
    --fs-600: calc(24rem / 16);
    --fs-500: calc(20rem / 16);
    --fs-400: calc(16rem / 16);
  }

  @include media.small-under {
    --fs-900: calc(80rem / 16);
    --fs-800: calc(56rem / 16);
    --fs-700: calc(24rem / 16);
    --fs-600: calc(18rem / 16);
    --fs-500: calc(16rem / 16);
    --fs-300: calc(14rem / 16);
    --fs-400: calc(15rem / 16);
  }
}
