@use './abstractions' as *;
@use './breakpoints' as media;

* {
  font-weight: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-weight: 500;
}

.app {
  min-height: 100%;
  grid-template-rows: min-content 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0% bottom 0%;
  overflow: hidden;
}

.primary-header {
  height: min-content;
  justify-content: space-between;
  position: relative;
}

.primary-nav {
  flex-direction: column;
  position: fixed;
  inset: 0 0 0 30%;
  gap: 3rem;
  padding-top: 10rem;
  background-color: rgba($clr-white, 0.05);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 300ms ease;
}

.primary-nav a {
  text-decoration: none;
  display: block;
}

.primary-nav a.active {
  text-decoration: none;
  border-right: 3px solid $clr-white;
}

.primary-nav a:hover,
.primary-nav a:focus {
  border-right: 3px solid rgba($clr-white, 0.3);
}

.primary-nav[data-nav-visible='true'] {
  transform: translateX(0);
}

// Home
.home-content {
  margin-top: clamp(2rem, 10vw, 5rem);
}

.home-content > h1 span {
  margin-top: 1rem;
}

.home-content > p {
  margin-top: 1.5rem;
}

// Destination
.destination-content {
  flex-direction: column;
  align-items: center;
}

.destination-info {
  flex-direction: column;
  align-items: center;
}

.destination-meta {
  width: fit-content;
}

.destination-info > hr {
  width: 100%;
  height: 0px;
  border: 1px solid rgba($clr-white, 0.3);
}

// Technology

.tech-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-top: 3rem;
}

.tech-description {
  margin-top: 2rem;
  max-width: 60ch;
}

.tecnology-image-wrapper {
  max-width: unset;
  width: 100%;
  background-color: transparent;
  position: relative;
  margin-top: 4rem;
  grid-area: image;
}

.tecnology-image-wrapper > img {
  width: 100%;
  object-fit: cover;
}

@include media.large-above {
  .tech-article {
    flex-direction: row;
    height: fit-content;
    margin-top: 12rem;
    align-items: start;
  }
}

// Media
@include media.large-above {
  .destination-info {
    align-items: start;
  }
}

@include media.small-above {
  .primary-nav {
    position: revert;
    flex-direction: row;
    height: min-content;
    padding: 0;
    padding-left: clamp(5rem, 8vw, 8rem);
    padding-right: 5rem;
    transform: revert;
  }

  .primary-nav a {
    display: block;
    padding-block: 2rem;
  }

  .primary-nav a:hover,
  .primary-nav a:focus {
    border: none;
    border-bottom: 3px solid rgba($clr-white, 0.3);
  }

  .primary-nav a.active {
    border: none;
    border-bottom: 3px solid $clr-white;
  }
}

@include media.medium-size {
  .primary-nav a > span {
    display: none;
  }
}

@include media.large-above {
  .home {
    background-image: url('/images/home/background-home-desktop.jpg');
  }

  .primary-nav {
  }
}
