@use './abstractions' as *;
@use './breakpoints' as media;

// Layout specific rules

.grid-container {
  max-height: 100rem;
  max-width: 100rem;
  height: 100%;
  width: 100%;
  display: grid;
  justify-self: center;
  text-align: center;

  @include media.large-above {
    text-align: left;
  }
}

/*----- Home -----*/
.grid-container--home {
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    '. content .'
    '. button .';
}

.grid-container--home > .explore-btn {
  grid-area: button;
  place-self: center;
}

@include media.small-above {
  .grid-container--home {
    grid-template-columns: 8rem 1fr 8rem;
    padding-bottom: max(5rem, 15vh);
  }
}

@include media.large-above {
  .grid-container--home {
    grid-template-columns: 8rem 1fr 1fr 8rem;
    grid-template-areas: '. content button .';
    align-items: end;
  }

  .grid-container--home > .home-content {
    grid-area: content;
    align-self: end;
  }

  .grid-container--home > .explore-btn {
    grid-area: button;
    align-self: end;
    justify-self: right;
  }
}

/*----- Destination -----*/
.grid-container--destination {
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    '. title .'
    '. image .'
    '. content .';
  justify-items: center;
}

.grid-container--destination > h1 {
  grid-area: title;
}

.grid-container--destination > img {
  grid-area: image;
}

.grid-container--destination > .destination-content {
  grid-area: content;
}

@include media.small-above {
  .grid-container--destination > h1 {
    justify-self: left;
  }
}
@include media.large-above {
  .grid-container--destination {
    grid-template-columns: 8rem 1fr 1fr 8rem;
    grid-template-rows: 12rem 1fr;
    grid-template-areas:
      '. title title .'
      '. image content.';
    column-gap: 4rem;
  }

  .grid-container--destination > img {
    align-self: start;
  }

  .grid-container--destination > .destination-content {
    align-self: top;
    align-items: start;
  }

  .grid-container--destination > .destination-info {
    align-items: start;
  }
}

/*----- Crew -----*/
.grid-container--crew {
  height: unset;
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: min-content 20rem min-content 80vw;
  grid-template-areas:
    '. title .'
    '. content .'
    '. tabs .'
    '. image .';
  justify-items: center;
}

.grid-container--crew > .crew-image-wrapper {
  grid-area: image;
}

.grid-container--crew > h1 {
  grid-area: title;
}

.grid-container--crew > article {
  grid-area: content;
}

.grid-container--crew > .pagination-small {
  grid-area: tabs;
  margin-bottom: 3rem;
}

@include media.small-above {
  .grid-container--crew > h1 {
    justify-self: left;
  }
}

@include media.large-above {
  .grid-container--crew {
    grid-template-rows: min-content repeat(2, 15rem) 10rem 5rem;
    grid-template-columns: 8rem 1fr 1fr 8rem;
    grid-template-areas:
      '. title title .'
      '. content image .'
      '. content image .'
      '. tabs image .'
      '. . image .';
    column-gap: 4rem;
    height: 100%;
  }

  .grid-container--crew > article {
    margin-top: 10rem;
  }

  .grid-container .pagination-small {
    justify-self: left;
    align-self: end;
  }

  .grid-container--crew > .crew-image-wrapper {
    align-self: center;
  }
}

/*----- Technology -----*/
.grid-container--technology {
  height: unset;
  grid-template-rows: min-content;
  grid-template-columns: 1rem auto 1rem;
  grid-template-areas:
    '. title .'
    'image image image'
    '. content .';
}

.grid-container--technology > h1 {
  margin-top: 2rem;
  grid-area: title;
  justify-self: center;
}

.grid-container--technology > article {
  grid-area: content;
}

@include media.small-above {
  .grid-container--technology > h1 {
    justify-self: left;
  }
}

@include media.large-above {
  .grid-container--technology {
    height: 100%;
    grid-template-rows: min-content auto 6rem;
    grid-template-columns: 8rem 1fr 1fr;
    grid-template-areas:
      '. title title'
      '. content image'
      '. . .';
    column-gap: 4rem;
  }

  .grid-container--technology > article {
    align-self: start;
  }
}
