@use './abstractions' as *;
@use './breakpoints' as media;

// Layout specific rules

.grid-container {
  display: grid;
  height: 100%;
  max-height: 100rem;
  place-items: center;
  text-align: center;
  padding-bottom: max(5rem, 15vh);
}

.grid-container > * {
  max-width: 60ch;
  height: min-content;
}

// Home
.grid-container--home {
  align-items: start;
}

// Desttination

.grid-container--destination {
  grid-template-rows: 3rem 3fr 2fr;
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';
}

.destination-meta {
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid rgba($clr-white, 0.1);
  padding-top: 2rem;
}

.grid-container--destination > h2 {
  grid-area: title;
}

.grid-container--destination > img {
  grid-area: image;
  max-width: 50%;
}

.grid-container--destination > .tablist {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

// Crew

.grid-container--crew {
  grid-template-rows: 3rem 15rem 5rem;
  grid-template-areas:
    'title'
    'content'
    'tabs'
    'image';
}

.grid-container--crew h2 {
  opacity: 0.5;
}

.grid-container--crew h1 {
  grid-area: title;
}

.grid-container--crew > .crew-image-wrapper {
  margin-top: 2rem;
  width: 60%;
  grid-area: image;
  align-self: start;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: linear-gradient(to top, $clr-dark 10%, rgba(#fff, 0) 30%);
    z-index: 100;
  }
}

.grid-container--crew > article {
  grid-area: content;
}

.grid-container--crew > .pagination-small {
  grid-area: tabs;
}

// Technology

.grid-container--technology {
  grid-template-rows: 3rem min-content min-content;
}

.grid-container--technology h2 {
  opacity: 0.5;
}

.grid-container--technology.wrapper {
  padding-inline: 0;
}

.grid-container--technology .tecnology-image-wrapper {
  max-width: unset;
  width: 100%;
  aspect-ratio: 2/ 1;
  background-color: lightcoral;
  position: relative;
  margin-top: 4rem;
}

.tecnology-image-wrapper > picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tecnology-image-wrapper > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container--technology > .pagination-big,
.grid-container--technology > article {
  align-self: start;
  flex-direction: column;
  align-items: center;
}

// MEDIA

@include media.small-above {
  .grid-container {
    align-items: center;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .grid-container--destination > img {
    grid-area: image;
  }
}

.grid-container--technology > article {
  max-width: 80ch;
}

@include media.large-above {
  .grid-container {
    text-align: left;
    align-items: end;
  }

  .grid-container--destination {
    grid-template-rows: 6rem 10rem;
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .';

    column-gap: 5rem;
    text-align: start;
  }

  .grid-container--destination > h1 {
    justify-self: left;
  }

  .grid-container--destination > img {
    justify-self: right;
    align-self: center;
    max-width: revert;
    width: 90%;
  }

  .grid-container--destination > .tablist {
    justify-self: left;
    align-self: end;
  }

  .grid-container--destination > .destination-info {
    justify-self: left;
    align-self: start;
    padding: 0;
  }

  .destination-meta {
    justify-content: start;
    gap: 5rem;
  }

  .grid-container--crew {
    grid-template-rows: 6rem;
    grid-template-areas:
      '. title title .'
      '. content image .'
      '. tabs image .';
    column-gap: 5rem;
    padding-bottom: 5rem;
    text-align: left;
  }

  .grid-container--crew > * {
    grid-template-areas:
      '. title title .'
      '. content image .'
      '. tabs image .';

    text-align: left;
    max-width: revert;
  }

  .grid-container--crew > .crew-image-wrapper {
    justify-self: left;
    align-self: flex-end;
    width: 600px;
    height: 700px;
    position: relative;
    display: block;
  }

  .grid-container--crew > h1 {
    justify-self: left;
  }

  .grid-container--crew > article {
    align-self: end;
  }

  .grid-container--crew > .pagination-small {
    justify-self: left;
    align-self: end;
    gap: 2.5rem;
  }

  .grid-container--technology {
    grid-template-rows: 6rem;
    // grid-template-columns: minmax(2rem, auto) repeat(2, minmax(0, 40rem)) minmax(2rem, auto);
    grid-template-columns: minmax(2rem, auto) repeat(2, minmax(0, 40rem)) minmax(
        2rem,
        auto
      );
    grid-template-areas:
      '. title title title'
      '. content content image'
      '. content content image'
      '. content content image';
    column-gap: 5rem;
  }

  .grid-container--technology h1 {
    grid-area: title;
    justify-self: left;
  }

  .grid-container--technology > .tech-article {
    grid-area: content;
    align-self: center;
    justify-self: left;
    align-items: stretch;
    margin: 0;
    flex-direction: row;
    gap: 2rem;
  }

  .pagination-big {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  .grid-container--technology .tecnology-image-wrapper {
    grid-area: image;
    height: 100%;
  }
}
