@use './breakpoints' as media;

.home {
  background-image: url('/images/home/background-home-mobile.jpg');
}

.destination {
  background-image: url('/images/destination/background-destination-mobile.jpg');
}

.crew {
  background-image: url('/images/crew/background-crew-mobile.jpg');
  background-position: center -30px;
}

.technology {
  background-image: url('/images/technology/background-technology-mobile.jpg');
}

@include media.small-above {
  .home {
    background-image: url('/images/home/background-home-tablet.jpg');
  }

  .destination {
    background-image: url('/images/destination/background-destination-tablet.jpg');
  }

  .crew {
    background-image: url('/images/crew/background-crew-tablet.jpg');
  }

  .technology {
    background-image: url('/images/technology/background-technology-tablet.jpg');
  }
}

@include media.large-above {
  .home {
    background-image: url('/images/home/background-home-desktop.jpg');
  }

  .destination {
    background-image: url('/images/destination/background-destination-desktop.jpg');
  }

  .crew {
    background-image: url('/images/crew/background-crew-desktop.jpg');
    background-position: top -100px left 70%;
  }

  .technology {
    background-image: url('/images/technology/background-technology-desktop.jpg');
  }
}
